In [5]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame
import json

json_obj='''
{
    "quiz": { "sport": {"q1": {"question": "Which one is correct team name in NBA?","options": ["New York Bulls","Los Angeles Kings","Golden State Warriros","Huston Rocket"],"answer": "Huston Rocket"}
                        },
              "maths": {"q1": {"question": "5 + 7 = ?","options": ["10","11","12","13"],"answer": "12"},
                        "q2": {"question": "12 - 8 = ?","options": ["1","2","3","4"],"answer": "4"} 
                        }
            }
}
'''

data=json.loads(json_obj)
json.dumps(data)

'{"quiz": {"sport": {"q1": {"question": "Which one is correct team name in NBA?", "options": ["New York Bulls", "Los Angeles Kings", "Golden State Warriros", "Huston Rocket"], "answer": "Huston Rocket"}}, "maths": {"q1": {"question": "5 + 7 = ?", "options": ["10", "11", "12", "13"], "answer": "12"}, "q2": {"question": "12 - 8 = ?", "options": ["1", "2", "3", "4"], "answer": "4"}}}}'

In [17]:
df=DataFrame(data["quiz"])
df

,sport,maths
q1,{'question': 'Which one is correct team name i...,"{'question': '5 + 7 = ?', 'options': ['10', '1..."
q2,NaN,"{'question': '12 - 8 = ?', 'options': ['1', '2..."

In [25]:
DataFrame(df["sport"])

                                                sport
q1  {'question': 'Which one is correct team name i...
q2                                                NaN