In [129]:
import numpy as np
import pandas as pd
from pandas import DataFrame,Series

movies_sub=pd.read_csv('C:\\Users\\735184\\Downloads\\P4-Movie-Ratings.csv')
movies_all=pd.read_csv('C:\\Users\\735184\\Downloads\\dataset.csv',encoding='latin1')

movies_sub.columns=['Movie', 'Genre', 'Ratings', 'AudienceRatings_10','Budget_Million', 'Year']
movies_sub.AudienceRatings_10=movies_sub.AudienceRatings_10/10

# Both conditions returns  the same result
#movies_sub.AudienceRatings_10=np.where(movies_sub.AudienceRatings_10>50,movies_sub.AudienceRatings_10/10,movies_sub.AudienceRatings_10)
#movies_sub.AudienceRatings_10=movies_sub.AudienceRatings_10.mask(movies_sub.AudienceRatings_10 > 50,movies_sub.AudienceRatings_10/10)

movies_all.columns=['DayofWeek', 'Director', 'Genre', 'Movie', 'ReleaseDate','Studio', 'AdjustedGross', 'Budget', 'Gross',\
       'IMDbRating_10', 'MovieLensRating_5', 'Overseas', 'Overseas','Profit','ProfitUS', 'Runtime_min', 'US','GrossUS']

#Join two data frames

merged_data=pd.merge(left=movies_all[['Genre','Movie','ProfitUS','IMDbRating_10', 'MovieLensRating_5']], \
                     right=movies_sub[['Movie','AudienceRatings_10','Budget_Million','Year']],how='inner',on = 'Movie')

#Return Seleceted columns only from Joined data
DataFrame(merged_data,columns=['Genre','Movie','IMDbRating_10','AudienceRatings_10','Year'])

##Create .CSV file with Seleceted columns only from Joined datafarame   TO_CSV function
DataFrame(merged_data,columns=['Genre','Movie','IMDbRating_10','AudienceRatings_10','Year']).to_csv('TESTINGTESTING.csv',sep='|')


##Create table from list
#city=['a','b','c']
#pop=[100,200,30]
#data=DataFrame({'city':np.array(city),'population':np.array(pop)})
#data

##Create table from Dictionary
#data2={'city':['a','b','c'],'pop':[10330,20220,32220]}
#data1=DataFrame(data2)
#data1

                                                     0
0    Day of Week,Director,Genre,Movie Title,Release...
1    Friday,Brad Bird,action,Tomorrowland,22/05/201...
2    Friday,Scott Waugh,action,Need for Speed,14/03...
3    Friday,Patrick Hughes,action,The Expendables 3...
4    Friday,"Phil Lord, Chris Miller",comedy,21 Jum...
5    Friday,Roland Emmerich,action,White House Down...
6    Friday,David Ayer,action,Fury,17/10/2014,Sony,...
7    Thursday,Rob Marshall,adventure,Into the Woods...
8    Friday,Daniel Espinosa,action,Safe House,10/02...
9    Friday,Gary Shore,action,Dracula Untold,10/10/...
10   Friday,"Henry Joost, Ariel Schulman",horror,Pa...
11   Friday,Eric Brevig,animation,Yogi Bear,17/12/2...
12   Friday,Morten Tyldum,biography,The Imitation G...
13   Thursday,Bryan Singer,biography,Valkyrie,25/12...
14   Friday,Seth Gordon,comedy,Horrible Bosses,8/07...
15   Friday,Ryan Murphy,drama,Eat Pray Love,13/08/2...
16   Friday,Paul Greengrass,drama,Captain Phillips,...
17   Friday,Hayao Miyazaki,animation,Ponyo,14/08/20...
18   Friday,Jaume Collet-Serra,action,Non-Stop,28/0...
19   Friday,Jonathan Liebesman,action,Battle: Los A...
20   Friday,Christopher McQuarrie,action,Jack Reach...
21   Friday,Dennis Dugan,comedy,Just Go With It,11/...
22   Friday,Robert Luketic,comedy,The Ugly Truth,24...
23   Friday,Jake Kasdan,comedy,Bad Teacher,24/06/20...
24   Wednesday,Tate Taylor,drama,The Help,10/08/201...
25   Friday,Todd Phillips,comedy,Due Date,5/11/2010...
26   Friday,Tommy Wirkola,action,Hansel and Gretel:...
27   Friday,Adam Shankman,musical,Hairspray (2007),...
28   Friday,Martin Campbell,action,Green Lantern,17...
29   Wednesday,Baz Luhrmann,adventure,Australia,26/...
..                                                 ...
579  Wednesday,Michael Bay,action,Transformers: Dar...
580  Wednesday,Steven Spielberg,drama,Close Encount...
581  Friday,"Andrew Stanton, Lee Unkrich",animation...
582  Wednesday,Peter Jackson,action,The Lord of the...
583  Wednesday,Roland Emmerich,action,Independence ...
584  Friday,Shane Black,action,Iron Man 3,3/05/2013...
585  Friday,Colin Trevorrow,action,Jurassic World,1...
586  Friday,Gore Verbinski,action,Pirates of the Ca...
587  Friday,"Chris Buck, Jennifer Lee",animation,Fr...
588  Friday,Chris Columbus,adventure,Harry Potter a...
589  Friday,Joss Whedon,action,Avengers: Age of Ult...
590  Wednesday,Francis Ford Coppola,crime,The Godfa...
591  Friday,David Yates,fantasy,Harry Potter and th...
592  Friday,Randal Kleiser,musical,Grease,16/06/197...
593  Wednesday,Peter Jackson,fantasy,The Lord of th...
594  Wednesday,George Lucas,sci-fi,Star Wars: Episo...
595  Friday,James Wan,action,Furious 7,3/04/2015,Un...
596  Wednesday,Irvin Kershner,sci-fi,The Empire Str...
597  Friday,Joss Whedon,action,Marvel's The Avenger...
598  Wednesday,"Roger Allers, Rob Minkoff",animatio...
599  Friday,Steven Spielberg,adventure,Jurassic Par...
600  Wednesday,"Wolfgang Reitherman, Clyde Geronimi...
601  Friday,Steven Spielberg,adventure,E.T.: The Ex...
602  Friday,Steven Spielberg,thriller,Jaws,20/06/19...
603  Tuesday,Richard Fleischer,adventure,Doctor Dol...
604  Wednesday,William Friedkin,horror,The Exorcist...
605  Wednesday,George Lucas,action,Star Wars,25/05/...
606  Friday,James Cameron,sci-fi,Avatar,18/12/2009,...
607  Wednesday,James Cameron,drama,Titanic,17/12/19...
608  Friday,"George Cukor, Victor Fleming, Sam Wood...

[609 rows x 1 columns]

ValueError: No axis named 7 for object type <class 'pandas.core.frame.DataFrame'>

,Movie,Genre,Ratings,AudienceRatings,Budget_Million,Year
0,(500) Days of Summer,Comedy,87,8.1,8,2009
1,"10,000 B.C.",Adventure,9,4.4,105,2008
2,12 Rounds,Action,30,5.2,20,2009
3,127 Hours,Adventure,93,8.4,18,2010
4,17 Again,Comedy,55,7.0,20,2009
5,2012,Action,39,6.3,200,2009
6,27 Dresses,Comedy,40,7.1,30,2008
7,30 Days of Night,Horror,50,5.7,32,2007
8,30 Minutes or Less,Comedy,43,4.8,28,2011
9,50/50,Comedy,93,9.3,8,2011
10,88 Minutes,Drama,5,5.1,30,2007
11,A Dangerous Method,Drama,79,8.9,20,2011
12,A Nightmare on Elm Street,Horror,13,4.0,35,2010
13,A Serious Man,Drama,89,6.4,7,2009
14,A Very Harold and Kumar Christmas,Comedy,72,7.1,19,2011
15,Abduction,Action,4,4.6,35,2011
16,Across the Universe,Romance,54,8.4,45,2007
17,Adventureland,Comedy,89,5.6,10,2009
18,Albert Nobbs,Drama,53,4.3,8,2011
19,Alice in Wonderland,Adventure,52,7.2,200,2010
20,Alien vs. Predator -- Requiem,Horror,14,3.7,40,2007
21,Aliens in the Attic,Adventure,30,4.6,45,2009
22,All About Steve,Comedy,6,3.5,15,2009
23,All Good Things,Drama,33,6.4,20,2010
24,Amelia,Adventure,21,3.5,40,2009
25,American Gangster,Thriller,79,8.7,100,2007
26,An Education,Drama,94,7.8,8,2009
27,Anonymous,Drama,46,6.6,30,2011
28,Apollo 18,Horror,23,3.1,5,2011
29,Appaloosa,Action,77,5.5,20,2008
...,...,...,...,...,...,...
529,War Horse,Drama,77,7.3,66,2011
530,Warrior,Action,83,9.3,25,2011
531,Watchmen,Action,64,6.8,130,2009
532,Water For Elephants,Drama,60,7.2,38,2011
533,We Bought a Zoo,Comedy,63,7.9,50,2011
534,We Own the Night,Drama,55,6.3,21,2007
535,"Welcome Home, Roscoe Jenkins",Comedy,24,6.4,35,2008
536,What Happens in Vegas,Comedy,28,7.2,35,2008
537,What's Your Number,Comedy,24,5.0,20,2011
538,Whatever Works,Comedy,50,6.3,15,2009
539,When in Rome,Comedy,15,4.4,0,2010
540,Where the Wild Things Are,Adventure,73,5.9,100,2009
541,Whip It,Drama,84,7.3,15,2009
542,Whiteout,Action,7,2.8,35,2009
543,Why Did I Get Married Too?,Comedy,27,6.7,20,2010
544,Wild Hogs,Comedy,14,7.2,90,2007
545,Winter's Bone,Drama,94,7.3,2,2010
546,X-Men Origins: Wolverine,Action,37,7.2,150,2009
547,X-Men: First Class,Action,87,8.8,160,2011
548,Year One,Adventure,14,3.1,60,2009
549,Yes Man,Comedy,43,7.2,70,2008
550,Yogi Bear,Comedy,14,3.6,80,2010
551,You Again,Comedy,18,4.5,20,2010
552,You Don't Mess with the Zohan,Comedy,36,5.0,80,2008
553,You Will Meet a Tall Dark Stranger,Comedy,43,3.5,22,2010
554,Your Highness,Comedy,26,3.6,50,2011
555,Youth in Revolt,Comedy,68,5.2,18,2009
556,Zodiac,Thriller,89,7.3,65,2007
557,Zombieland,Action,90,8.7,24,2009
558,Zookeeper,Comedy,14,4.2,80,2011